.mapa{
    width: 912px;
	height: 371px;
    float: left;
}
.main{
    height: 700px;
}
.main p{
    width: 912px;
	height: 213px;
    padding: 36px 494px 42px 23px;
    border: 1px solid #f2f2f2;
    float: left;
    line-height: 40px;
    color: #a5a7aa;
    
}