/*总体架构*/
body, html {
	height: 100%;
	background-color: #f4f4f4;
}

* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
}

/*header {*/
/*	width: 100%;*/
/*	background-image: linear-gradient(0deg, #f1503b, #c82519 50%);*/
/*	border-bottom-left-radius: 100%;*/
/*	border-bottom-right-radius: 100%;*/

/*}*/

header  {
	width: 100%;
	height: 44px;
	display: flex;
	background-color: red;
}

main {
	flex: 1;
	overflow-y: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100%;
	margin-top: 10px;
}

footer {
	width: 100%;
	height: 50px;
	box-shadow: 0 0 10px 0 hsl(0deg 6% 58% / 60%);
}


/*头部部分*/
.cate {
	height: 44px;
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cate span {
	font-size: 18px;
	color: white;
}

.searchBox {
	flex: 1;
	display: flex;
	align-items: center;
}

.searchBox .search {
	background-color: white;
	width: 100%;
	height: 30px;
	border-radius: 15px;
	display: flex;
	align-items: center;
}

.searchBox .search span:first-child {
	color: red;
	margin-left: 15px;
}

.searchBox .search span:nth-child(3) {
	color: #dfdfdf;
	margin-right: 10px;
}

.searchBox .longString {
	color: #ededed;

}

.search .temps {
	color: #747474;
	font-size: 12px;
}

.loginBox {
	width: 40px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loginBox span {
	line-height: 14px;
}

.top-slideshow {
	width:100%;
	margin: 0 !important;
	overflow: revert !important;
	height: 100%;
}

.top-slideshow img {
	width: 90%;
}

.pagination1 {
	margin-top: -100px;
}
.filling{
	width: 100%;
	height: 5%;
	margin: -4px;
}

/*主体部分*/
.swiper-slide img {
	width: 100%;
}

.advertising {
	margin-top: 10px;
	width: 90%;
}

.advertising img {
	width: 100%;
}

.mid-slideshow {
	width: 100%;
	position: relative;
	--swiper-theme-color: #ff0047 !important;
}

.mid-slideshow ul {
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 35px;
}

.mid-slideshow ul li {
	width: 20%;
	text-align: center;
	margin-top: 15px;
}

.mid-slideshow ul li img {
	width: 50%;
}

.mid-slideshow ul li span {
	display: block;
	margin-top: .3rem;
	font-size: .6rem;
	color: #666;
}

.swiper {
	--swiper-theme-color: #ff0047 !important;
}
.seckill{
	width: 90%;
	background-color: white;
	border-radius: 10px;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	height: 180px;
}

.seckill-title{
font-size: 16px;
	height:33px ;

}
.seckill-timer-wrap{
	color: red;
	margin: 0 14% 0 2%;
	height:33px ;
}
.seckill-nth:after {
	height: .875rem;
	width: 1.025rem;
	content: "";
	display: inline-block;
	vertical-align: middle;
	background-image: url(//wq.360buyimg.com/wxsq_project/portal/m_jd_index/images/seckill-time-to_1de70c91.png);
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: contain;
}
.seckill-timer-link{
	color: red;
	font-size: 14px;
	position: relative;
	height:33px ;
}
.seckill-more-icon {
	display: inline-block;
	width: 14px;
	height: 14px;
	background: url(//wq.360buyimg.com/wxsq_project/portal/m_jd_index/images/arrow_rt_2ccb8cd5.png) no-repeat;
	background-size: cover;
	position: absolute;
	right: -18px;
	top: 0;
	transform: translateY(25%);
}
.seckill-time{
	background-color: red;
	border-radius: 4px;
	color: white;
	text-align: center;
}
.seckill-time-separator{
	color: red;
}
.seckillList{
	height: 160px;
	display: flex;
}
.seckillList li{
	height: 80px;
	text-align: center;
	color: red;
}
.seckillList img{
	height: 100%;
}
.productList{
	width:95%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 10px;
}
.productList li{
	width: 48%;
	height: 210px;

}
.productList li img{
    height: 75%;
	width: 100%;
}
.caption{
	font-size: 16px;
}
.price{
	color: red;
}

/*尾部部分*/
ul {
	list-style: none;
}

.on {
	color: red;
}

footer ul {
	display: flex;
	height: 50px;
	flex: 1;
	align-items: center;
	justify-content: space-around;
}

footer li {
	text-align: center;
	font-size: 24px !important;
}

footer li p {
	margin-top: 2px;
	font-size: 12px;
}



